.popover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	backdrop-filter: blur(15px);
	z-index: 1000;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popover .popoverBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--surface-color);
	padding: 50px;
	border-radius: 0.5rem;
}

.newgamebutton {
	margin-top: 50px;
	background-color: #3c174e;
	box-shadow: inherit;
	border: none;
	padding: 10px;
	color: #e9e9e9;
	border-radius: 5px;
}
.newgamebutton:hover {
	cursor: pointer;
}
