html, body, #app {
    color: var(--main-white-color);
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--main-white-color);
}

* {
    box-sizing: border-box;
    font-family: century-gothic, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    overflow: hidden;
    height: 100vh;
    padding: 50px;

}

:root {
    --main-white-color: rgb(224, 224, 224);
    --main-black-color: #121212;
    --main-color: #433574;
    --main-grey-color: rgb(224, 224, 224);
}