.cardfront {
	color: #8e789c;
	background-color: #472c58;

	font-weight: 700;
	font-size: 2.25rem;
}
.cardfront:hover {
	cursor: pointer;
}
.cardback:hover {
	cursor: pointer;
}
.cardback {
	background-color: #686269;
	font-size: 3.12rem;
}
.cardfront,
.cardback {
	transition: ease-in 0.1s;

	margin: 0.25rem;
	min-width: 4.3rem;
	min-height: 5.6rem;
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}
