.cardfront{
    background-color: rgb(214, 214, 214);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size:xx-large;
    font-weight: 100;
}
.cardfront:hover{
    cursor:pointer;
}
.cardback:hover {
    cursor: pointer;
}
.cardback{
    background-color: var(--main-color);

}
.cardfront, .cardback {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.192);
    margin: 5px;
    width: 100px;
    height: 100px;
    flex-basis: 23%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}