.cardfront{
    color: var(--main-grey-color);
    font-weight: 100;
    font-size: 20px;

}
.cardfront:hover{
    cursor:pointer;
    
}
.cardback:hover {
    cursor: pointer;
}
.cardback{
    background-color: var(--primary-color);
    font-size: 50px;


}
.cardfront, .cardback {
    transition: ease-in 0.1s;

    border: 1px solid rgba(128, 128, 128, 0.514);
    box-shadow: 4px 4px 10px rgba(82, 82, 82, 0.192);
    margin: 5px;
    min-width: 70px;
    min-height: 90px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

