.header {
	width: 100%;
}

.score {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	font-size: 1rem;

	align-items: center;
	justify-content: space-evenly;
	background-color: #472c58;
	margin: 0px 5px 10px 5px;
	padding: 1rem 3rem;
	border-radius: 5px;
}
.score > * {
	margin: 0 10px;
}

.header h1 {
	font-size: 2rem;
	font-weight: bolder;
	margin: 2rem;
	text-align: center;
}
