.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 5px 10px 5px;
    padding: 20px 0px;
    border-radius: 5px;

}

.footer button {
    border: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 10px;
    color: var(--main-color);
    border-radius: 5px;
}

.footer button:hover {
    cursor: pointer;
}