.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 5px 10px 5px;
	padding: 20px 0px;
	border-radius: 5px;
}
.footer svg {
	width: 25px;
	height: 25px;
	color: var(--main-grey-color);
	margin-right: 10px;
}
.footer a {
	font-size: 1rem;
	color: var(--main-grey-color);
	display: flex;
	align-items: center;
	text-decoration: none;
}
.footer svg:hover {
	transform: scale(1.1);
}
.footer button {
	border: none;
	background-color: transparent;
	padding: 10px;
	color: var(--main-grey-color);
	font-weight: bold;
	border-radius: 5px;
}

.footer button:hover {
	cursor: pointer;
}
